version: "3"
services:
  dev:
    build: .
    image: localhost:7070/super_service:dev
    commond: python manage.py runserver 0.0.0.0:7070
    container_name: super_service_api
    volumes:
      - .:/code
      - ./docker_loacl:/data
    ports:
      - "7070:7070"
    environment:
      - PYTHONPATH=/code
      - CREDIT_API_SETTINGS=main.config.local
    network_mode: bridge

  pro:
    build: .
    image: localhost:7070/super_service:master
    commond: superviord -c /code/deploy/superviord.conf
    volumes:
      - .:/code
      - /data/super_service_api:/data
    ports:
      - "7070:7070"
    environment:
      - PYTHONPATH=/code
      - CREDIT_API_SETTINGS=main.config.product

